table,
tr,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 3px;
}

.cart_info th {
    text-align: left;
    background-color: rgb(178, 177, 177);

}

.cart_info td{
    background-color: rgb(208, 207, 207);

}

.danger h2{
    color: red;
}

#image img{
    height: 200px;
    width: 100%;
    
}

.container{
    width: 20%;
    margin: auto;
}

.button{
     text-align: center;
}

.button a{
    text-decoration: none;
    color: red;
}