body {
    margin: 0;
    padding: 0;
    /* background: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX9509036.jpg') no-repeat center center/cover; */
    background-color: rgb(252, 238, 220);
    position: sticky;
}

.navbar {
    display: flex;
}

#navbar {
    display: flex;
}

#navbar li {
    padding: 20px;
    list-style: none;
}

#navbar ul {
    background-color: rgb(94, 90, 90);
    margin: auto;
    border-radius: 2rem;
}

#navbar .links a {
    text-decoration: none;
    font-size: 30px;
    color: white;

}

#navbar .links a:hover {
    color: rgb(0, 242, 255);
}

#navbar .logo img {
    
    height: 60px;
}

#navbar .logo {

    margin: 5px 1px 1px 20px;
}

.logo h3 {
    text-align: center;
    margin-top: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: rgb(127, 255, 129);

}

.main {
    display: flex;

    justify-content: center;
    align-items: center;
}

.container {
    display: grid;

    grid-template-columns: repeat(3, 300px);

    grid-gap: 30px;
    margin: 10px;
}

.box {

    border: 1px solid gray;

    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    flex-direction: column;

}

.box .down button {
    display: block;
    margin: auto;
    padding: 5px;
    cursor: pointer;
    border-radius: 1rem;


}

input[type="submit"]:hover {
    background-color: rgb(220, 220, 220);
}

input[type="submit"] {
    border-radius: 1rem;
    display: block;
    margin: auto;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    border: none;
}

.box .down {
    width: 100%;
    height: 100%;
    background-color: rgb(174, 131, 215);
    /* margin: 2px; */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    

}

.box .down p {
    background-color: rgb(174, 131, 215);

    margin: 2px;
}



.box .top img {
    height: 200px;
}


/* .main::before {
    content: "";
    background: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX9509036.jpg') no-repeat center center/cover;

    position: absolute; */
/* position:sticky; */
/* top: 130px;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .6;
    z-index: -1; */
/* background-attachment:fixed; */
/* background-repeat: repeat-y; */
/* } */

.login a {
    text-decoration: none;
    font-size: 30px;

    border-radius: 2rem;

}

.login a:hover {
    color: rgb(255, 0, 0);
}

#login {
    position: absolute;
    top: 46px;
    right: 10px;

}

.login {
    display: flex;
}