table,
tr,
td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 3px;
}

td {
    background-color: rgb(208, 207, 207);

}

.container {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cart_info {
    margin-bottom: 5px;
}

td a {
    text-decoration: none;
}

#delete a {
    /* border: 1px solid green; */
    margin-left: 110px;
    /* display: block; */
}

td button {
    width: 100%;
    border-radius: 1rem;
    border: none;
    background-color: rgb(139, 241, 135);


}

#button {
    border-radius: 1rem;
    background-color: rgb(139, 241, 135);
}

#button:hover {
    /* background-color: green; */
    color: black;
}

td button:hover {
    background-color: rgb(111, 208, 111);
    color: black;
}

#no_cart{
    text-align: center;
    color: red;
}

#no_cart::after{
    display: block;
    content: "Please enter item in cart";
    /* text-align: center; */
}