.container {
    display: flex;
    /* border: 1px solid gray; */
    width: 50vw;
}
a{
    text-decoration: none;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    width: 12vw;
}

.left img {
    width: 10vw;
}

.right {
    width: 38vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right .top {
    border: 1px solid gray;
    width: 100%;
}

.top big {
    text-align: center;
}

.right .bottom {
    border: 1px solid gray;
    width: 100%;
    text-decoration: none;
    height: 4vh;
    background-color: green;
    color: white;
    text-align: center;
    cursor: pointer;
}

.right .bottom:hover{
    background-color: rgb(2, 165, 2);
}

.main{
    width: 50vw;
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;

}
.data_container{
    display: flex;
}
.left_item{
    height: 80vh;
    width: 49vw;
    border: 1px solid gray;
    margin: 3px;
}